{% load static %}
<!doctype html>
<html lang='zh-cmn-Hans'>
    <head>
{#    禁用缓存加载#}
        <meta name="author" content="chengmo">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" CONTENT="no-cache">
{#        <meta http-equiv="expires" content="0">#}
        <meta charset='UTF-8'>
        <title>
            博达OA系统
        </title>
        <script src='{% static 'jquery/jquery-1.11.3.js' %}'></script>
        <link rel="stylesheet" href="{% static 'css/management.css' %}">
        <script src="{% static 'javascript/createdata.js' %}"></script>
    </head>
    <body id = 'body'>
        <!--body中的title-->
        <div id = 'title1'>
            <img src='{% static 'images/logo_1.png' %}' class='title_img1'>
            博达OA系统1.0
            <img src='{% static 'images/logo_2.png' %}' class='title_img1'>
        </div>
        <div id="mt1">
            <div>
                <span>{{ ucompany }}:{{ udepartment1 }}
                    <br>
                    {{ udepartment2 }}:{{ upost }}:{{ uname }}
                </span>
            </div>
            <a id="back" href="{% url 'back' %}">返回主页</a>
            <a id="quit_1" href="{% url 'quit' %}">注销登录</a>
        </div>
        <div>
            <ul id="ul_1">
                <li>
                    <a href="maintain_data/?question_type=1">单项选择题</a>
                </li>
                <li>
                    <a href="maintain_data/?question_type=2">多项选择题</a>
                </li>
                <li>
                    <a href="maintain_data/?question_type=3">判断题</a>
                </li>
                <li>
                    <a href="maintain_data/?question_type=4">填空题</a>
                </li>
                <li>
                    <a href="maintain_data/?question_type=5">简答题</a>
                </li>
            </ul>

        <div id="end">
            友情链接:
            <a href="http://www.cgfse.com">成都晨光博达橡塑有限公司</a>
            <a href="http://www.aifsil.com">成都博达爱福科技有限公司</a>
            <h4>&copy版权归成都晨光博达橡塑有限公司所有</h4>
        </div>
    </body>
</html>