#show_score_1{
    width: 1400px;
    height: 40px;

}

#show_score_head_1,#show_score_head_2,#show_score_head_3,#show_score_head_4{
    float: left;
    margin-left: 30px;
    text-align: center;
    line-height: 30px;
}

.show_score_table td{
    text-align: center;
}

#show_score_head_1{
    margin-left: 250px;
}

#show_score_head_input{
    width: 155px;
    height: 28px;
    font-size: 17px;
}

.table_show_score_1{
    width: 80px;
}
.table_show_score_2{
    width: 120px;
}
.table_show_score_3{
    width: 170px;
}
.table_show_score_4{
    width: 200px;
}
.table_show_score_5{
    width: 100px;
}
.table_show_score_6{
    width: 100px;
}
.table_show_score_7{
    width: 100px;
}
.table_show_score_8{
    width: 100px;
}
.table_show_score_9{
    width: 100px;
}

#show_windows_1{
    margin-left: 140px;
}

#show_windows_2{
    margin-left: 140px;
    height: 600px;
    overflow: auto;
}
#show_windows_3{
    margin-top: 20px;
    margin-left: 337px;
    margin-bottom: 20px;
}
#show_updata_score_1{
    width: 170px;
}
#show_updata_score_2{
    width: 200px;
}
#show_updata_score_3,#show_updata_score_4,#show_updata_score_5{
    width: 105px;
}

#score_updata_1,#score_updata_2,#score_updata_3{
    width: 65px;
}